###### APP CONFIGURATION ######
APP_NAME="سمح"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL="http://localhost"
APP_TIMEZONE="Asia/Riyadh"
SYSTEM_KEY=
DEMO_MODE="Off"
LOG_CHANNEL=stack
DEFAULT_LANGUAGE="ar"
FORCE_HTTPS="Off"


###### Database Configuration #####
DB_CONNECTION=mysql
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_DATABASE="samh"
DB_USERNAME="root"
DB_PASSWORD=""


####### DRIVERS CONFIGURATION #######
BROADCAST_DRIVER=reverb
CACHE_DRIVER="redis"
QUEUE_CONNECTION="redis"
SESSION_DRIVER="redis"
SESSION_LIFETIME=120


####### REDIS CONFIGURATION #######
REDIS_HOST="127.0.0.1"
REDIS_PASSWORD=""
REDIS_PORT="6379"
REDIS_DB=0
REDIS_CACHE_DB=1
REDIS_LOCKS_DB=2
REDIS_TIMEOUT=5
REDIS_READ_TIMEOUT=60


####### MAIL CONFIGURATION #######
MAIL_DRIVER="mailgun"
MAIL_HOST=""
MAIL_PORT=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_ENCRYPTION=""
MAIL_FROM_ADDRESS=""
MAIL_FROM_NAME=""
MAILGUN_DOMAIN=""
MAILGUN_SECRET=""

######## VAPID CONFIGURATION #######
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=


######## PUSHER CONFIGURATION #######
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY=""
VITE_PUSHER_APP_CLUSTER=""

######## SOCIAL LOGIN CONFIGURATION #######
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""

SIGN_IN_WITH_APPLE_LOGIN=""
SIGN_IN_WITH_APPLE_REDIRECT=""
SIGN_IN_WITH_APPLE_CLIENT_ID=""
SIGN_IN_WITH_APPLE_CLIENT_SECRET=""


TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""

######## ANALYTICS CONFIGURATION #######
TRACKING_ID=""
FACEBOOK_PAGE_ID=""
FACEBOOK_PIXEL_ID=""


######## SMS CONFIGURATION #######
TWILIO_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_VERIFY_SID=""
VALID_TWILLO_NUMBER=""

NEXMO_KEY=""
NEXMO_SECRET=""

SSL_SMS_USER=""
SSL_SMS_SID=""
SSL_SMS_PASSWORD=""
SSL_SMS_URL="http://sms.sslwireless.com/pushapi/dynamic/server.php"


TWILLO_TYPE="1"
NEXMO_SENDER_ID=""

TWILIO_MESSAGING_SID=""
WHATSAPP_PHONE_NUMBER_ID=""
WHATSAPP_API_ACCESS_TOKEN=""
SENDER_ID=""
LANGUAGE="english"
ROUTE=""
AUTH_KEY=""
ENTITY_ID=""

SMS24GATEWAY_API_KEY=''
SMS24GATEWAY_DEVICE_ID=''

######## CAPTCHA CONFIGURATION #######
CAPTCHA_KEY=""
RECAPTCHA_SECRET_KEY=""


######## FILE STORAGE CONFIGURATION #######
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION=""
AWS_BUCKET=""
AWS_URL="https://bucket-name.s3.region.amazonaws.com"

FILESYSTEM_DRIVER="local"

######## FCM CONFIGURATION #######
FCM_SERVER_KEY=""
MAP_API_KEY=""

GOOGLE_PROJECT=""
GOOGLE_SERVICE_ACCOUNT=""



######## PAYMENT CONFIGURATION #######
PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""

STRIPE_KEY=""
STRIPE_SECRET=""

JAWALI_USERNAME=""
JAWALI_PASS=""
JAWALI_USERID=""
JAWALI_ORGID=""
JAWALI_AGENT_ID=""
JAWALI_AGENT_PWD=""

JAIB_USER=""
JAIB_PASS=""
JAIB_AGENT_CODE=""

FLOOSAK_SHORT_CODE=""
FLOOSAK_PHONE_NUMBER=""



######## REVERB CONFIGURATION #######

REVERB_APP_ID=local-app
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST=127.0.0.1
REVERB_PORT=8080
REVERB_SCHEME=http

# Reverb Scaling (Enable for production with multiple servers)
REVERB_SCALING_ENABLED=false
REVERB_SCALING_CHANNEL=reverb

# Reverb WebSocket Settings
REVERB_APP_PING_INTERVAL=30
REVERB_APP_ACTIVITY_TIMEOUT=60
REVERB_ALLOWED_ORIGINS="*"

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"


######## AUCTION SYSTEM CONFIGURATION #######

# Auction Rate Limits (requests per minute)
AUCTION_BID_RATE_LIMIT=10
AUCTION_OFFER_RATE_LIMIT=5

# Auction Timer Settings (in seconds)
AUCTION_DEFAULT_TIMER_SECONDS=60
AUCTION_DEFAULT_EXTENSION_SECONDS=30
AUCTION_TIMER_UPDATE_INTERVAL=5

# Insurance Deposit Amount
AUCTION_INSURANCE_DEPOSIT_AMOUNT=1000

# Distributed Lock Settings (in seconds)
AUCTION_LOCK_BID_TIMEOUT=10
AUCTION_LOCK_FINALIZATION_TIMEOUT=15
AUCTION_LOCK_OFFER_TIMEOUT=10
AUCTION_LOCK_RETRY_ATTEMPTS=3
AUCTION_LOCK_RETRY_DELAY=100

# Bid Increment Configuration
AUCTION_BID_INCREMENT_TYPE=percentage
AUCTION_BID_INCREMENT_PERCENTAGE=5
AUCTION_BID_INCREMENT_FLAT=100

# Concurrency Settings
AUCTION_MAX_VIEWERS=2000
AUCTION_MAX_BIDDERS=200
AUCTION_QUEUE_RETRY_ATTEMPTS=3
AUCTION_QUEUE_RETRY_DELAY=2

# Offer Configuration
AUCTION_OFFER_EXPIRATION_HOURS=24
AUCTION_OFFER_AUTO_EXPIRE=true

# Commission Configuration (percentage)
AUCTION_DEFAULT_COMMISSION=10
AUCTION_MIN_COMMISSION=0
AUCTION_MAX_COMMISSION=50
